<script defer src="/assets/js/copy-code.js"></script>
<script defer src="/assets/js/spoiler.js"></script>
<script defer src="/assets/js/tabs.js"></script>
<script defer src="/assets/js/toc-scrollspy.js"></script>
<script defer src="/assets/js/prefetch.js"></script>
{{ if .IsTabbed }}<script defer src="/assets/js/docs-tab-switcher.js"></script>{{ end }}
{{ range .Scripts }}<script defer src="{{ . }}"></script>
{{ end }}
{{ range .InlineScripts }}<script>{{ . }}</script>
{{ end }}
{{ range .ModuleScripts }}<script type="module" src="{{ . }}"></script>
{{ end }}
{{ if .Site.Config.Analytics.Script }}<script defer src="{{ .Site.Config.Analytics.Script }}"></script>
{{ end }}
