{{ define "content" }}
<div class="sarde-error-page error-page--default">
  {{ if .Page.Content }}
    <div class="sarde-error-page__code">404</div>
    <h1>{{ .Page.Title }}</h1>
    <div class="sarde-error-page__content">{{ .Page.Content }}</div>
  {{ else }}
    <div class="sarde-error-page__code">404</div>
    <h1>{{ t "error.not_found" }}</h1>
    <p>{{ t "error.not_found_desc" }}</p>
  {{ end }}
  <a href="{{ relURL "/" }}" class="sarde-error-page__home">{{ t "error.return_home" }}</a>
</div>
{{ end }}
